<!-- styling 1 using custum directive-->
<!-- <h1 [appFoyerChange]="{ color: 'red', 'font-style': 'italic', 'font-weight': 'bold' }"> -->
<h1 class="text-white">
  Foyer management
</h1>

<div class="container">

    <div class="border">
      <button class="btn btn-primary" (click)="openAddFoyerModal()">
        <i class="fa fa-user"></i>Add
    </button>

    <button class="btn btn-primary" (click)="navigateToFoyerList()">
        <i class="fa fa-user"></i>Retrieve Foyer
    </button>
    </div>
    <h2 class="text-white">Foyer Details</h2>
    <table class="text-capitalize fade show delay-2s table table-dark table-hover">
      <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Capacité</th>
        <!-- <th>Université</th> -->
        <!-- <th>Bloc</th> -->
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <tr  *ngFor="let foyer of foyers">
        <td><span>{{ foyer.idFoyer }}</span></td>
        <td><span>{{ foyer.nomFoyer }}</span></td>
        <td><span>{{ foyer.capaciteFoyer }}</span></td>

        <td>
          <button class="btn btn-sm btn-info" (click)="openDetailsModal(foyer)">
            <i class="fa fa-search"></i>Details
          </button>


          <button class="btn btn-sm btn-warning" (click)="openUpdateModal(foyer)">
            <i class="fa fa-edit"></i>Edit
          </button>

          <button class="btn btn-sm btn-danger" (click)="openDeleteModal(foyer)">
            <i class="fa fa-remove"></i>Delete
          </button>

          </td>
      </tr>
      </tbody>
    </table>
</div>


<!-- <app-foyer-list *ngIf="numberOfFoyers" [numberOfFoyers]="numberOfFoyers"></app-foyer-list> -->

