<div class="d-flex justify-content-center align-items-center">
  <div class="dark-mode bg-dark text-white" id="formtitle">Update Bloc</div>
</div>

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">

  <form (ngSubmit)="updateBloc()" style="width: 500px; height: 500px;">
    <div class="text-white dark-mode bg-dark container">

      <div class="formfield">
          <label>Nom Bloc</label>
          <input type="text" class="text-white dark-mode bg-dark" id="nomBloc" placeholder="Nom Bloc" pattern="[a-zA-Z ]*"
              [(ngModel)]="bloc.nomBloc" required name="NomBloc">
      </div>

      <div class="formfield">
          <label>Capacite Bloc</label>
          <input type="number" class="text-white dark-mode bg-dark" id="capaciteBloc" placeholder="Capacite du Bloc" required min="0"
              name="capacityBloc" [(ngModel)]="bloc.capacityBloc">
      </div>

      <button type="submit" class="update-button">Modifier</button>
    </div>
  </form>
</div>
