.container {
  max-width: 700px;
}

.formfield {
  position: relative;
  box-sizing: border-box;
  float: left;
  margin: 20px auto;
  padding: 0;
  border: 0;
  font-size: 1em;
  width: calc(50% - 41px); /* Adjust the width based on margin and padding */
}

.formfield * {
  box-sizing: border-box;
}

.formfield>input,
.formfield>select {
  padding: 0.8em;
  margin: 0.5em;
  width: 100%;
  border: 1px solid #00bafa;
  border-radius: 1.5em;
  outline: none;
  background: white;
  -webkit-appearance: none; /* for Safari */
  -moz-appearance: none; /* for Firefox */
  appearance: none; /* for modern browsers */
}

.formfield>label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.8em 0;
  margin: 0.5em;
  color: #ccc;
  pointer-events: none;
  transition: 0.2s ease-in-out;
}

input:focus + label,
select:focus + label {
  color: #00bafa;
  font-size: 0.8em;
  top: -1.5em; /* Adjust this if needed to fit the label correctly */
  left: 2em;
  background: white;
  padding: 0 0.5em;
}

button {
  width: 250px;
  height: 45px;
  border: 1px solid #FFF;
  background: #164863;
  color: #FFF;
  border-radius: 25px;
  transition: all 300ms ease-in-out;
}

button:hover {
  background-color: HSLA(0, 0%, 100%, .2);
}
